
.App{
  margin:0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-card1 {
  border-radius: 10px;
    width: 100%;
    background-color: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: .25em;
  border: 1px solid black;
}
body{
overflow-x: hidden;
}

/* tbody:nth-child(odd) {
  background: #c2c2c2;
} */


.nav-item a {
  font-size:1.2rem;
  color:#5d5d5d;
  min-width: 100%;
}

.nav-item a:hover {
  color:orange;
}


.view-title{
  font-size:2rem;
  margin-right:2rem;
}

.view-title i {
  margin-right:1rem;
  color: #f69b19;
}

.view-title span {
  margin-right:2rem;
}

.sort-indication {
  opacity:0.08;
}

th:hover {
  cursor: pointer;
}

th:hover .sort-indication {
  opacity:0.26;
}

.edit-buttons{
  opacity: 0.2;
}

.location-list {
  padding: 0px;
  list-style: none;
}

.location-list span {
  display: inline-block;
  background: #bbbbbb;
  border-radius: 5px;
  margin: 2px;
  padding:5px;

}

.location-list button {
  border: darkgrey;
  text-align:left
}

.prefix-table tr:hover .edit-buttons {
  opacity: 1;
}

.prefix-table tr td:first-child:before {
   content: "📦 ";
   font-size:1.8rem;
  
}

.prefix-table tr td:first-child {
  background-color: rgba(0, 0, 0, 3%);
  font-weight: bold;
  
}

#sticky-sidebar {
  bottom: 0;
}
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}
.sticky-top .nav {
  padding: 20px 10px;
}
.flex-column {
  flex-direction: column!important;
}
header {
  display: block;
}
#header-top {
  background: #264899;
  padding: 1px 50px;
}
.eudat-link {
  border-left: 1px solid #577CD5;
  border-right: 1px solid #577CD5;
  padding: 5px 10px 5px 10px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}
 #gb_menu {
  line-height: 60px;
}
 #gb_menu ul {
  padding: 0;
  text-align: center;
}
#gb_menu ul li {
  display: inline-block;
}
#gb_menu ul li a {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  text-align: left;
  font-weight: 700;
  color: #555;
  text-transform: uppercase;
  margin-right: 10px;
  text-decoration: none;
}
.eudat-link a {
  color: #FFFFFF;
  text-decoration: none;
}
#header-main {
  background: #FFFFFF url(pattern.svg) no-repeat top right;
  padding: 0px 50px 0px 50px;
  box-shadow: -7px 4px 18px -2px rgb(0 0 0 / 10%);
}
.header_logo {
  padding: 10px 0px;
  width: 150px;
}

footer {
  bottom: 0;
  margin-top: auto;
  width: 100%;
}

.footer-main {
  background: #2C2C2C;
  color: white;
  padding: 0px;
  margin-top: 10px;
  font-size: 12px;
  width: 100%;
} 
.footer-logo {
  margin: 0 25px;
}
.footer-logo {
  margin: 0 25px;
}
.navbar-footer {
  background-color: transparent;
  border: 0;
}
.footer-line {
  border-top: 1px solid #888;
  border-bottom: 0;
  margin: 10px 0;
}
.footer-powered {
  padding-right: 25px;
  text-align: right;
}
.footer-eudat-logo{
    background: url(Logo_eudat_CDI_white.svg) no-repeat bottom left;
    padding: 50px 50px 0px 50px;
    box-shadow: -7px 4px 18px -2px rgb(0 0 0 / 10%);
    width: 200px;
  
}
.navbar-footer {
  background-color: transparent;
  border: 0;
}
.navbar-nav {
  float: left;
  margin: 10px;
}
.navbar-nav {
  margin: 7.5px -15px;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.pull-right {
  float: right !important;
}
.navbar-footer .navbar-nav > li > a:link {
  color: white;
  text-shadow: none;
  padding: 0px 15px 10px;
}

 ul.nav-footer > li {
  display: inline-block!important;
  padding: 0px 5px 5px;
  color: white;

  /* You can also add some margins here to make it look prettier */
}
.footer-powered a, 
.footer-powered a:hover,
ul.nav-footer li a,
ul.nav-footer li a:hover {
  color: white;
}

.num-sm {
  font-size:1.06rem;
  font-weight: bold;
}

.num{
  font-size:1.6rem;
  font-weight: bold;
}

.num-default{
  color:#3395d6;
}

.num-ok{
  
  color:#24b063;
  
}

.num-critical{
 
  color:#aa2b22;
  
}

.num-unknown{
  
  color:#a69a19;
  
}