body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-group {
  background-color: #f4f4f4;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
}

.form-row > div {
  flex: 1; 
  margin-right: 10px;
}

.form-row > div:last-child {
  margin-right: 0;
}


.label-with-icon {
  display: flex;
  align-items: center;
}

.info-icon {
  margin-left: 5px;
  cursor: default;
  position: relative;
  display: inline-block;
  width: 1em; 
  height: 1em;
  background-color: lightgray; 
  color: white;
  text-align: center;
  line-height: 1em;
  border-radius: 50%;
  font-size: 14px;
}

.info-icon .info-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: white;
  text-align: left;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 0;
  opacity: 0;
  transition: opacity 0.1s;
}

.info-icon:hover .info-text {
  visibility: visible;
  opacity: 1;
}






